@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
main {
    flex: 1 0 auto;
}

.hero {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: bottom center;*/
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  background-position: center center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -4;
}
.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
  color: #333147;
}

.hero p{
  font-size: 20px;
  letter-spacing: 1px;
  color:#333147;
}

section h1{
  text-align: center;
}

.box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 100%;
  max-height: 100%;
  padding: 20px 40px;
}



.nav {
    background-color: #DF2A25;
}

